*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
    display: grid;
}

header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}


main {
  padding: 70px 20px;
}

.container {
  display: flex;
  background: #1c1c1d;
  color: #ffb52e;
  border-radius: 10px;
  padding: 30px;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto 50px auto;
}

.produtoimg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produtoimg img {
  width: 100%;
  max-width: 400px;
  border: 4px solid #ffb52e;
  border-radius: 10px;
}

.detalhesproduto{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detalhesproduto h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'aliens and cows', monospace;
}

.product-rating {
  font-size: 16px;
  margin-bottom: 15px;
}

.produtodsc {
  font-size: 15px;
  margin-bottom: 15px;
}

.produtopreco {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.produtoopcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.produtoopcoes select,
.produtoopcoes input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ffb52e;
  background: #d3d3d3;
  color: #000;
}

#comprabotao, #carrinhobotao {
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

#comprabotao:hover, #carrinhobotao:hover {
  background: #ffa500;
   transition: background-color 0.3s ease;
}

#carrinhobotao, #carrinhobotao {
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

#carrinhobotao:hover, #carrinhobotao:hover {
  background: #ffa500;
   transition: background-color 0.3s ease;
}



.produtoespecificacoes {
  max-width: 1000px;
  background: #1c1c1d;
  color: #ffb52e;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto 50px auto;
}

.produtoespecificacoes h2 {
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family: 'aliens and cows', monospace;
  font-weight: 100;
}

.produtoespecificacoes ul {
  list-style: square;
  margin-left: 20px;
}

.produtorelacionados{
  max-width: 1000px;
  margin: 0 auto 80px auto;
  text-align: center;
}

.produtorelacionados h2 {
  margin-bottom: 20px;
}

.ralacionadosgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.cardproduto{
  background: #1c1c1d;
  color: #ffb52e;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.2s;
}

.cardproduto img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #ffb52e;
}

.cardproduto:hover {
  transform: scale(1.05);
}

footer {
  background: #1c1c1d;
  border-top: 5px solid #C9A441;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .produtopreco {
    justify-content: center;
  }

  .produtoimg img {
    max-width: 300px;
  }
}

#modal-carrinho{
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #6f6f707b;
}

#modal-conteudo{
  background: #1c1c1d;
  color: #ffb52e;
  width: 400px;
  height: 200px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  font-size: 18px;
}

#ir-carrinho, #continuar-comprando{
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

#ir-carrinho:hover, #continuar-comprando:hover {
  background: #ffa500;
  transform: scale(1.05);
   transition: background-color 0.3s ease;
}

#modal-compra{
  display: none;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: #6f6f707b;
}

#modalconteudo{
  background: #1c1c1d;
  color: #ffb52e;
  width: 400px;
  height: 200px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  font-size: 18px;
}

#irparacompra, #continuarcomprando{
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

#irparacompra:hover, #continuarcomprando:hover {
  background: #ffa500;
  transform: scale(1.05);
   transition: background-color 0.3s ease;
}









#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}
#login-icon:hover{ 
  background-color: #e0c651;
   transition: background-color 0.3s ease;
 }
 
#avatar{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}
