*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
     background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%),
            radial-gradient(circle at 20% 70%, rgba(98, 98, 99, 0.871), transparent 80%),
            #dddde0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}



header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
}
#login-icon{
    border-radius: 100%;
    background-color: #C9A441;
    width: 50px;
    height: 50px;
    position:absolute;
    right: 0;
    top: 0;
    margin: 10px
}
#login-icon:hover{
    background-color: #e0c651;
}
#avatar{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px #C9A441 solid;
}









button:hover {
    background: #C9A441;
}

footer {
    background: #1c1c1d;
    border-top: 5px solid #C9A441;
    height: 40px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}

#logo {
    width: 750px;
    height: 80px;
}


#search{
    width: 70%;
    margin: 5px;
    border-radius: 30px;
}


.nome{
    font-size:40px;
    font-family:'aliens and cows';
    font-weight: 200;
    margin:10px;
}




#div1{
   
    width: 100%;
    aspect-ratio: 16/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#produto1{
    height: 70%;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #f7f3ef;
    aspect-ratio: 15/6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#produto1img{
    height: 100%;
    margin-left: 20px;
}
#produto1caixa{
    background-color: rgb(210, 212, 215);
    width: 50%;
    aspect-ratio: 20/15;
    border-radius: 5px;
    margin:15px;
}
#produto1dsc{
    font-size: 15px;
    margin: 20px;
    color: rgb(64, 64, 64);
}
#produto1nome{
    font-size: 70px;
}







#div2{
    background-color: rgba(173, 177, 182, 0.508);
    width: 100%;
    aspect-ratio: 16/7;
    display: flex;
    align-items: start;
    justify-content: start;
}

#div2esq{
    height: 100%;
    flex:1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2dir{
    height: 100%;
    flex:2;
   
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}

#produto2{
    background-color: #f7f3ef;
    width: 85%;
    height: 95%;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#produto2img{
    height: 60%;
    margin-top: 20px;
}
#produto2caixa{
    background-color: rgb(210, 212, 215);
    width: 95%;
    aspect-ratio: 14/6;
    border-radius: 5px;
    margin:15px;
}
#produto2dsc{
    font-size: 15px;
    margin: 20px;
    color: rgb(64, 64, 64);
}
#produto2nome{
    font-size: 60px;
}




.produtosCl{
    width: 50%;
    aspect-ratio: 15/6;
    background-color: #f7f3ef;
    margin: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
}



#produto3{
    background-color: #f7f3ef;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#produto3img{
    width: 35%;
    margin-left: 35px;
}
#produto3caixa{
    background-color: rgb(210, 212, 215);
    width: 50%;
    height: 90%;
    margin:10px;
    aspect-ratio: 14/6;
    border-radius: 5px;

}
#produto3dsc{
    font-size: 15px;
    margin:20px;
    color: rgb(64, 64, 64);
}



#produto4{
    background-color: #f7f3ef;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#produto4img{
    width: 35%;
    margin-left: 35px;
}
#produto4caixa{
    background-color: rgb(210, 212, 215);
    width: 50%;
    height: 90%;
    margin:10px;
    aspect-ratio: 14/6;
    border-radius: 5px;

}
#produto4dsc{
    font-size: 15px;
    margin:20px;
    color: rgb(64, 64, 64);
}




#produto5{
    background-color: #f7f3ef;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#produto5img{
    width: 35%;
    margin-left: 35px;
}
#produto5caixa{
    background-color: rgb(210, 212, 215);
    width: 50%;
    height: 90%;
    margin:10px;
    aspect-ratio: 14/6;
    border-radius: 5px;

}
#produto5dsc{
    font-size: 15px;
    margin:20px;
    color: rgb(64, 64, 64);
}



#div3{
    width: 100%;
    aspect-ratio: 16/7;
    display: flex;
    align-items: center;
    justify-content: center;
}
