*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    outline: 0;
}


body {
  height: 100vh;

  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
}

@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 82%;

}

#dir{
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: center;
}
#esq{
  display: flex;
  height: 100%;
  width: 40%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}


.plano{
  background-color: #e9ebec;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  margin: 20px;
  height: 30%;
  width: 60%;

  padding: 10px;
}
.plano h1{
  color:#1c1c1d;
  font-family: aliens and cows;
  font-weight: 500;
  margin-bottom: 7px;
}
.plano:hover{
  transform:translateX(20px);
}

#plano-selecionado{
  display: flex;
  gap: 20px;
  align-items: start;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  background: #f2f3f4;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);

  box-sizing: border-box;
  height: 80%;
  width: 90%;
}
#plano-selecionado h1{
  font-family: aliens and cows;
  font-weight: 500;
}
#cima{
  width: 100%;
  height: 30%;
  background-color: #1c1c1d;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: #e0c651 solid 5px;
}
#cima h1{color: #C9A441;}
#meio{
  width: 100%;
  height: 50%;
  padding: 20px;
}
#img{
  background-color: #f2f3f4;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
#baixo{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}
#assinar{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C9A441;
  color: #1c1c1d;
  font-weight: bold;

}





footer {
  background: #1c1c1d;
  border-top: 5px solid #C9A441;
  height: 40px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}







#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}
#login-icon:hover{ background-color: #e0c651; }
#avatar{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}
