*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    outline: 0;
}


body {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
}

@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}



main {
    display: grid;
    grid-template-columns: 450px 1fr ;
    justify-content: center;
    align-items: center;
    padding: 70px;
    
    
    
}




.coluna-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.bloco {
  background-color: white;
  border: 2px solid #1c1c1d;
  border-radius: 8px;
  height: 150px;
  width: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}



.bloco:hover {
  transform: scale(1.05);
  background-color: #C9A441;
}


#conteudo {
  height: 400px;
  background-color: #8c8880;
  border-radius: 10px;
  border: 3px solid #c9a441;
  padding: 20px;
  width: 80%;
  margin: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background: #1c1c1d;
  border-top: 5px solid #C9A441;
  height: 40px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}







#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}
#login-icon:hover{ background-color: #e0c651; }
#avatar{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}
