*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    outline: 0;
}


body {
  height: 100vh;

  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
}

@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 82%;

}

#dir{
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: center;
}

#esq{
  display: flex;
  height: 100%;
  width: 40%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}


.plano {
  background: linear-gradient(135deg, #eceeef, #dfe1e3);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);

  box-shadow: 
    0 2px 6px rgba(0,0,0,0.08),
    0 6px 20px rgba(0,0,0,0.12);

  margin: 20px;
  height: 30%;
  width: 60%;

  padding: 20px;
  gap: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  text-decoration: none;
  color: inherit;

  transition: 0.3s ease;


}

.plano h1 {
  color: #1c1c1d;
  font-family: aliens and cows;
  font-weight: 500;
  margin-bottom: 7px;
}

.plano:hover {
  transform: translateX(12px) scale(1.02);
  box-shadow: 
    0 4px 10px rgba(0,0,0,0.12),
    0 10px 28px rgba(0,0,0,0.18);
}


#plano-selecionado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  text-decoration: none;
  color: inherit;
  background: #f2f3f4;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  box-sizing: border-box;
  height: 80%;
  width: 90%;
  line-height: 1.4;
  word-break: break-word;
  transition: 0.3s ease;

}

#plano-selecionado:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

#plano-selecionado h1 {
  font-family: 'Aliens and Cows', sans-serif;
  font-weight: 500;
  margin: 0;
}

#cima{
  width: 100%;
  height: 30%;
  background-color: #1c1c1d;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: #e0c651 solid 5px;
}

#cima h1{color: #C9A441;}

#meio{
  width: 100%;
  height: 50%;
  padding: 20px;
}

#img{
  background-color: #f2f3f4;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

#baixo{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
}

#assinar{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C9A441;
  color: #1c1c1d;
  font-weight: bold;

  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  letter-spacing: 0.5px;
}

#assinar:hover{
  background-color: #d4b055;
  transform: scale(1.05);
}

#assinar:active{
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}




footer {
  background: #1c1c1d;
  border-top: 5px solid #C9A441;
  height: 40px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
}







#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}

#login-icon:hover{ background-color: #e0c651; }

#avatar{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}

#modal{
     position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: none; 
    justify-content: center;
    align-items: center;
}

#conteudo{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c1c1d;
    color: #ffb52e;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
}

#confirmar{
      background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

#cancelar{
    background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

#confirmar:hover, #cancelar:hover {
  background: #e0a91f;
}


#search{ width: 70%; margin: 5px; border-radius: 30px; background-color: #f2f3f4;}


#carrinho_compras{
  width: 40px;
  height: 40px;
  position:absolute;
  right: 80px;
  top: 10px;
  cursor: pointer;
}

#pesquisa-icone{
  width: 40px;
  height: 40px;
  position:absolute;
  right: 140px;
  top: 10px;
  cursor: pointer;
}
