* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #fff9ed;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  background: #0C054A;
  color: #ffb52e;   
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  border-bottom: 10px solid #ffb52e;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  
}

#login-box {
  background: #0a0040;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  color: #ffb52e;
  height: 90%;
  width: 30%;
}

#login-box h2 {
  font-size: 26px;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

#login-box label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
}

#login-box input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ffb52e;
  border-radius: 5px;
  background: #d3d3d3;
  margin-bottom: 15px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.links a {
  color: #ffb52e
  ;
  font-size: 13px;
  text-decoration: none;
}

button {
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 4px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #ffa500;
}

footer {
  background: #0a0040;
  border-top: 5px solid #ffb52e;
  height: 40px;
}

#logo{
    width: 750px;
    height: 80px;
}