*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
     background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%),
            radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%),
            #d2d2d5;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
   
}



header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;

}


footer {
    background: #1c1c1d;
    border-top: 5px solid #C9A441;
    height: 40px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}

#logo {
    width: 750px;
    height: 80px;
}