* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%),
              radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%),
              #d2d2d5;
  display: grid;
}


#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@font-face { 
  font-family: 'aliens and cows'; 
  src: url('../fontes/aliens and cows_trial.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}


header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}

header.header--hidden {
  transform: translateY(-100%);
  box-shadow: none;
}


header.header--pinned {
  transform: translateY(0);
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}



#search{ width: 70%; margin: 5px; border-radius: 30px; }

#login-icon {
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#login-icon:hover {
  background-color: #e0c651;
   transition: background-color 0.3s ease;
}

#avatar {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  border: 3px #1c1c1d solid;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
}


.card {
  background: #fff;
  border: 2px solid #C9A441;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  width: 80%;
  aspect-ratio: 5/1;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  padding: 10px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.card img {
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card h5 {
  font-size: 1.1rem;
  margin: 10px 0 5px 0;
}

.card h6 {
  color: #C9A441;
  font-size: 1rem;
  margin-bottom: 10px;
}


footer {
  background: #1c1c1d;
  border-top: 5px solid #C9A441;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}








#canto{
  height: 100%;
  flex: 1;
  background-color: #1c1c1d4c;
  border-right: #1c1c1d solid 3px;
}

#produtosDiv{
  height: 100%;
  flex: 6;
}
