*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
    display: grid;
}

@font-face { 
    font-family: 'aliens and cows'; 
    src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}


header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}


main {
    padding: 50px 20px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 200px;
    width: 80%;
    height: 80%;
    margin: 0;
    
}

#adicionar{
    text-align: center;
    background: #1c1c1d;
    padding: 30px;
    border-radius: 15px;
    color: #C9A441;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    min-width: 450px;
}

  .campo-fixo {
    display: inline-block;
    border-radius: 4px;
    background-color:#d3d3d3;
    color: #555;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #C9A441;
  }

#adicionar h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'aliens and cows', monospace;
    font-weight: 100;
}

#adicionar label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    font-size: 14px;
}

#adicionar input,
#adicionar textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #C9A441;
    border-radius: 5px;
    background: #d3d3d3;
    font-size: 14px;
    box-sizing: border-box;
}

#adicionar textarea {
    resize: vertical;
    min-height: 80px;
}

#adicionar button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #C9A441;
    color: #0a0040;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#adicionar button:hover {
    background: #ffa500;
    transition: background 0.3s ease;
}


#voltarbtn button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #C9A441;
    color: #0a0040;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#voltarbtn button:hover {
    background: #ffa500;
    transition: background 0.3s ease;
}



#seta{
    width: 40px;
    position:absolute;
    left: 20px;
    cursor: pointer;

}


.grupo-input {
    justify-content:flex-end;
  display: flex;
  margin-bottom: 20px;
}

.grupo-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.grupo-input button {
  padding: 8px 12px;
  border: none;
  background-color:#C9A441;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.grupo-input button:hover {
  background-color: #ffa500;
   transition: background-color 0.3s ease;
}

.botao-editar, .botao-salvar, .botao-deletar {
  padding: 5px 8px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.botao-editar {
  background-color: #2196F3;
}

.botao-editar:hover {
  background-color: #1976D2;
  transition: background-color 0.3s ease;
}

.botao-salvar {
  background-color: #4CAF50;
}

.botao-salvar:hover {
  background-color: #388E3C;
   transition: background-color 0.3s ease;
}

.botao-deletar {
  background-color: #f44336;
}

.botao-deletar:hover {
  background-color: #d32f2f;
   transition: background-color 0.3s ease;
}



#lista{
    background: #1c1c1d;
    padding: 30px;
    border-radius: 15px;
    color: #C9A441;
    max-width: 60%;
    max-height: 140vh;
}

#caixas {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height:90%;
  max-width: 100%;
}

#caixas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 8px;
}

#caixas span {
  flex: 1;
  text-align: left;
}
   


footer {
    background: #1c1c1d;
    border-top: 5px solid #C9A441;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}










.card {
  background: #f2f3f4;
  border: 2px solid #C9A441;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  width: 100%;
  aspect-ratio: 5/1;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
  padding: 10px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
   transition: background-color 0.3s ease;
}

.card img {
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.card h5 {
  font-size: 1.1rem;
  margin: 10px 0 5px 0;
}

.card h6 {
  color: #C9A441;
  font-size: 1rem;
  margin-bottom: 10px;
}

#containermodal{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: none; 
    justify-content: center;
    align-items: center;
}

#pergunta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1c1c1d;
    color: #ffb52e;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    justify-content: center;
}

#sim{
      background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

#nao{
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}


#sim:hover, #nao:hover{
    background: #ffa500;
    transition: background 0.3s ease;
}

#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}
#login-icon:hover{ 
  background-color: #e0c651;   
  transition: background-color 0.3s ease;
}

#avatar{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}
