*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;
    
}

@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;
}

header img {
  height: 11vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-top: -115px;
}



#login-box {
    background: #1c1c1d;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    color: #ffb52e;
    width: 30%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#login-box:hover {
    transform: scale(1.02);
    transition: all 0.4s ease-out;
}

#login-box h2 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-family: 'aliens and cows', monospace;
    font-weight: 100;
}

#login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
}

#login-box input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffb52e;
    border-radius: 5px;
    background: #d3d3d3;
    margin-bottom: 15px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.links a {
    color: #ffb52e;
    font-size: 13px;
    text-decoration: none;
}

button {
    background: #ffb52e;
    color: #0a0040;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ffa500;
    color: #000;
    
}


footer {
    background: #1c1c1d;
    border-top: 5px solid #C9A441;
    height: 40px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}
@media (max-width: 900px) {
  #logo { width: 360px; height: 50px; }
}

                
#esqueciSenha:hover {
    text-decoration: underline;
    cursor: pointer;
}

#Entrar:hover {
    text-decoration: underline;
    cursor: pointer;
}

#Cadastrar:hover {
    text-decoration: underline;
    cursor: pointer;
    
}

#cadastrar{
    text-decoration: none;
    color: #0a0040;
}
#carrinho_compras{
  width: 40px;
  height: 40px;
  position:absolute;
  right: 80px;
  top: 10px;
  cursor: pointer;
}

#pesquisa-icone{
  width: 40px;
  height: 40px;
  position:absolute;
  right: 140px;
  top: 10px;
  cursor: pointer;
}

#search{ width: 70%; margin: 5px; border-radius: 30px; background-color: #f2f3f4;}