*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 60% 30%, rgba(235, 235, 235, 0.714), transparent 70%), radial-gradient(circle at 20% 70%, rgba(151, 151, 151, 0.871), transparent 80%), #d2d2d5;

}

@font-face {
  font-family: 'aliens and cows';
  src: url('../fontes/aliens\ and\ cows_trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




header {
    background: #1c1c1d;
    color: #C9A441;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: end;
    border-bottom: 10px solid #C9A441;
    height: 13vh;

}
header img {
  height: 11vh;
}

main {
    padding: 20px 20px;
}

#perfilcontainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

#perfilesquerda {
    text-align: center;
    background: #111112;
    padding: 30px;
    border-radius: 15px 0 0px 15px;
    color: #C9A441;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}



#opcoesfodas123{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}


#opcoesfodas123 a{
  color: #C9A441;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top:10px;
  text-decoration: none;
  text-align: start;
  width: 100%;
  border-bottom: 1px solid #C9A441;
}


#avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 4px solid #C9A441;
    margin-bottom: 20px;
}

#perfilesquerda h2 {
    font-size: 28px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    box-shadow: 4 8px 16px rgba(0,0,0,0.1);
}

.bio {
    font-size: 14px;
    color: #ffd966;
    line-height: 1.4;
}

#perfildireita {
    background: #1c1c1d;
    padding: 30px;
    border-radius: 0px 15px 15px 0px;
    color: #C9A441;
}

.persilsecao{
    margin-bottom: 30px;
}

.persilsecao h3 {
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border-bottom: 2px solid #C9A441;
    padding-bottom: 5px;
    font-family: 'aliens and cows', monospace;
    font-weight: 100;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
    padding-bottom: 5px;
    border-bottom: 1px solid #C9A441;
}

.info-row span {
    font-weight: bold;
}

.acoaes {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.acoaes button {
    background: #C9A441;
    color: #0a0040;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#modal-desc {
    resize: none;
    background: #D4D4D4;
    color: #0a0040;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 5px; 
    cursor: pointer;       
    width: 100%;
    height: 90%; 
}

.acoaes button:hover {
    background: #a57b2d;
}

footer {
    background: #1c1c1d;
    border-top: 5px solid #C9A441;
    height: 40px;
    width: 100%;
    position:fixed;
    bottom: 0;
    left: 0;
}



@media (max-width: 768px) {
    #perfilcontainer {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}


#seta{
    width: 40px;
    position:absolute;
    left: 20px;
}

#editar{
    text-decoration: none;
}

#editar a{
    text-decoration: none;
    color: #0a0040;
    cursor: pointer;
}

#abrirModal{
   cursor: pointer;
}

#abrirModal:hover, 
#sair:hover, 
#carrinho:hover, 
#opcoes:hover, 
#outrasopcoes:hover, 
#opcoeslagais:hover, 
#admB:hover{
    color: #ffa500;

}

#planos{
   color: #ffa500;
}








.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* BOTÃO X (FECHAR) */
.fechar {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 30px;
  color: #ffb52e;
  cursor: pointer;
}

/* ESTILO DO EDIT BOX DENTRO DO MODAL */
#edit-box {
  background: #1c1c1d;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: #ffb52e;
  width: 350px;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.1);
}

#edit-box2 {
  background: #1c1c1d;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: #ffb52e;
  width: 50%;
  aspect-ratio: 8/6;
  margin: 10px;
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.1);
}
#edit-box2 h2 {
  font-size: 35px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  font-family: 'aliens and cows', monospace;
  font-weight: 100;
}
#edit-box2 input {
    width: 100%;
    height: 80%;
    padding: 10px;
    border: 2px solid #ffb52e;
    border-radius: 5px;
    background: #d3d3d3;
    margin-bottom: 15px;
}

#edit-box h2 {
  font-size: 35px;
  margin-bottom: 25px;
  letter-spacing: 3px;
  font-family: 'aliens and cows', monospace;
  font-weight: 100;
}

#edit-box label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 14px;
}

#edit-box input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ffb52e;
  border-radius: 5px;
  background: #d3d3d3;
  margin-bottom: 15px;
}

/* Botão de salvar no modal */
#edit-box button {
  background: #ffb52e;
  color: #0a0040;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#edit-box button:hover {
  background: #ffa500;
}


#dsc{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
}
#nome-dsc{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#impplano{
  height: 200px;
}



#login-icon{
  border-radius: 100%;
  background-color: #C9A441;
  width: 50px;
  height: 50px;
  position:absolute;
  right: 10px;
  top: 10px;
}
#login-icon:hover{ background-color: #e0c651; }
#avatar2{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 3px #C9A441 solid;
}
